* {
	margin: 0;
	box-sizing: border-box;
}
nav {
	position: fixed;
	width: 100%;
	z-index: 5;
}

.navbar {
	height: 75px;
	background-color: #575b5f;
	overflow: hidden;
	opacity: 0.9;
	padding : 15px 0;
}

#logo-small {
	float: left;
	position: relative;
	left: 20%;
	bottom: 2.5px
}

.navbar a {
	color: #ffffff;
	font-family: Calibri;
	font-size: 18px;
	text-decoration: none;
	
}

.navlist {
	position: relative;
	top: 11px;
	left: 42%;
}

.navbar a:visited {
	color: #ffffff;
}
.navbar a:hover {
	color: gray;
}
.navbar a:active {
	color:gray;
}

a.navlink1:after {
	content: " - ";
	padding: 0 15px;
}
a.navlink2:after {
	content: " - ";
	padding: 0 15px;
}
a.navlink3:after {
	content: " - ";
	padding: 0 15px;
}

.welcome {
	padding-top: 50px;
	height: 1250px;
	background-color: #999999;
	z-index: 0;
	background-image: url("food-background1.jpg");
}

.hero {
	padding-top: 100px;
	text-align: center;
}

.hero-font {
	font-family: 'Lobster Two', Helvetica, sans-serif;
	font-size: 80px;
	color: #ffffff;
	font-weight: lighter;
	text-shadow: 4px 4px 8px #000000;
}

hr.hr-hero {
	border-top: 1px dashed #ffffff;
	width: 10%;
	text-align: center;
	margin-top: 40px;
	position: relative;
	left: 44.75%
}

.hero-line {
	padding-top: 50px;
	
	
}
.hero-line-font {
	color: #ffffff;
	font-family: Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: lighter;
	text-shadow: 2px 2px 4px #000000;
}

a.menu-button {
	position: relative;
	top: 30px;
	background-color: #151d25;
	border: none;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.bio-back {
	height: 220px;
	z-index: 1;
	width: 100%;
	background-color: #ffffff;
	position: relative;
	top: 250px;
}

.bio-split {
	height: 400px;
	background-color: #cccccc;
	width: 50%;
	z-index: 2;
	position: relative;
	bottom: 90px;
	left: 25%
}

.bio-image {
	width: 50%;
	height: 400px;
	z-index: 3;
	float: left;
}

.bio {
	width: 50%;
	height: 400px;
	background-color: #ffffff;
	z-index: 3;
	position: relative;
	float: right;
}

.bio-title {
	font-family: 'Lobster Two', Helvetica, sans-serif;
	font-size: 38px;
	color: #28374b;
	font-weight: lighter;
	position: relative;
	left: 10%;
	top: 15%;
}


.bio-divider {
	background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 30px 1px;
	background-repeat: repeat-x;
	padding-top: 70px;
	margin-left: 35px;
	width: 25%;
}

.bio-content {
	font-family: Calibri;
	font-size: 20px;
	color: #97ada7;
	margin-top: 20px;
	margin-left: 48px;
	margin-right: 40px;
	
}

a.more-button {
	position: relative;
	top: 30px;
	background-color: #151d25;
	border: none;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: 48px;
}

.quote {
	text-align: center;
	margin-top: 450px;
	font-family: Calibri;
	font-size: 20px;
	letter-spacing: 2px;
	color: #ffffff;
}

.quote-author {
	text-align: center;
	padding-top: 10px;
	font-family: 'Lobster Two', Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
}

.menu-back {
	height: 1200px;
	z-index: 0;
}

.menu-title {
	text-align: center;
	font-family: 'Lobster Two', Helvetica, sans-serif;
	font-size: 38px;
	font-weight: lighter;
	color: #28374b;
	position: relative;
	top: 6.5%;
	z-index: 1;
}

.menu {
	height: 801px;
	background-color: #cccccc;
	position: relative;
	width: 75%;
	left: 12.5%;
	top: 13%;
	z-index: 1;
}
.item1, .item2, .item3, .item4, .item5, .item6 {
	height: 267px;
	width: 50%;
	position: relative;
	z-index: 2;
}
.item1 {
	float: left;
}
.item2 {
	float: right;
}
.item3 {
	float: left;
}
.item4 {
	float: right;
}
.item5 {
	float: left;
}
.item6 {
	float: right;
}

.item1-text, .item2-text, .item3-text, .item4-text, .item5-text, .item6-text, .item1-image, .item2-image, .item3-image, .item4-image, .item5-image, .item6-image {
	position: relative;
	height: 100%;
	width: 50%;
}
.item1-text, .item2-text, .item3-text, .item4-text, .item5-text, .item6-text {
	background-color: #9fb0a5;
	text-align: center;
	color: #ffffff;
}
h2.food-title {
	font-family: 'Lobster Two', Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 50;
	margin-top: 40px;
}

p.food-desc {
	font-family: Calibri;
	font-size: 16px;
	margin-top: 10px;
	line-height: 1.5;
}

h2.food-price {
	font-family: 'Lobster Two', Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 200;
}
.item1-text {
	float: right;
}
.item2-text {
	float: right;
}
.item3-text {
	float: left;
}
.item4-text {
	float: left;
}
.item5-text {
	float: right;
}
.item6-text {
	float: right;
}

.item1-image {
	float: left;
}
.item2-image {
	float: left;
}
.item3-image {
	float: right;
}
.item4-image {
	float: right;
}
.item5-image {
	float: left;
}
.item6-image {
	float: left;
}

.show-more {
	position: relative;
	text-align: center;
	top: 15%;
	z-index: 2;
	text-decoration: none;
}

.show-more:hover {
	opacity: 0.8;
}

.more-title {
	font-family: 'Lobster Two', Helvetica, sans-serif;
	color: #28374b;
	font-size: 36px;
	font-weight: lighter;
	position: relative;
	top: 20%;
}



.video {
	height: 400px;
	background-color: #565657;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 3px;
	font-weight: 25px;
	font-stretch: ultra-expanded;
	background-image: url("video-link.jpg");
	background-position: center bottom;
}

a#video-link:visited {
	color: #ffffff;
}

.play-button:hover {
	opacity: 1;
}

.play-button {
	height: 100px;
	width: 100px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	border: 3px solid #ffffff;
	text-align: center;
	top: 50px; opacity: 0.6;
}

.play {
	width: 40px;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
	border-style: solid;
	border-width: 20px 0px 20px 35px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	top: 28%;
	right: 20%;
}

.subscribe {
	height: 600px;
	text-align: center;
	z-index: 1;
	font-family: Calibri;
	color: #28374b;
}

.sub-title {
	font-family: 'Lobster Two', Helvetica, sans-serif;
	color: #28374b;
	font-size: 30px;
	font-weight: lighter;
	position: relative;
	top: 7%;
}

.sub-content {
	font-family: Calibri;
	font-size:  20px;
	color: #28374b;
	position: relative;
	top: 11%;
	line-height: 1.5;
}

form {
	position: relative;
	top: 19%;
	left: 40%;
	width: 20%;
	height: 40px;
	border: 1px solid #151d25;
}

.sub-container {
	position: relative;
}

input[type=submit], input[type=text] {
	height:40px;
	left: 50%;
}

input[type=text] {
	float: left;
	width: 75%;
}

input[type=submit] {
	width: 25%;
	float: right;
	background-color: #151d25;
	color: #ffffff;
	border: none;	
}

input[type=submit]:hover {
	opacity: 0.8;
}

.sub-images {
	height: 45%;
	width: 60%;
	position: relative;
	top: 31.8%;
	left: 20%;
	z-index: 2;
}

.sub-images1, .sub-images2, .sub-images3 {
	position: relative;
	height: 100%;
	width: 33.333%;
	z-index: 3;
}
.sub-images1 {
	background-color: #cccccc;
	float: left;
}

.sub-images2 {
	background-color: #999999;
	float: left;
}

.sub-images3 {
	background-color: #cccccc;
	float: right;
}

.contact {
	height: 270px;
	background-color: #27364a;
	font-family: Calibri;
	color: #ffffff;
	
}

.info {
	position: relative;
	height: 100%;
	width: 60%;
	left: 20%;
}


.locations {
	position: relative;
	width: 50%;
	float: left;
	top: 25%;
}



.hours {
	position: relative;
	width: 50%;
	float: right;
	top: 25%;
	left: 10%;
}

.loc-title, .hours-title {
	font-size: 28px;
	font-weight: 40;
	letter-spacing: 2px;
	font-stretch: extra-expanded;
}

.loc1, .loc2, .hours1, .hours2 {
	margin-top: 20px;
	width: 50%;
	font-size: 20px;
	font-weight: 35;
	letter-spacing: 2px;
}

.loc1, .hours1 {
	float: left;
}

.loc2, .hours2 {
	float: right;
}


.footer {
	height: 100px;
	background-color: #151d25;
}

.footer-content {
	position: relative;
	width: 60%;
	left: 20%;
}

.footer-text {
	position: relative;
	font-family: Calibri;
	color: #ffffff;
	font-size: 20px;
	font-weight: lighter;
	top: 35px;
}

@media screen and (max-width: 800px) {
	.bio-back {
		height: 120px;
	}
	.bio-split {
		width: 100%;
		left: 0;
	}
	.bio-split, .bio {
		height: 400px;
	}
	
	.bio-title {
		top: 5%;
	}
	
	.bio-content {
		margin-left: 24px;
		margin-right: 20px;
	}
	
	.bio-divider {
		padding-top: 30px;
		width: 50%;
		margin-left: 12px;
	}
	
	a.more-button {
		margin-left: 24px;
	}
	
	.welcome {
		background-position: right center;
	}
	.hero-font {
		font-size: 50px;
	}
	.hero-line-font {
		font-size: 16px;
	}
	
	.quote {
		margin-top: 550px;
	}
	
	.menu-back: {
		height: 500px;
	}
	
	.menu {
		width: 100%;
		height: 333px;
		left: 0%;
	}
	
	.item1, .item2, .item3, .item4, .item5, .item6 {
		height: 111px;
	}
	
	p.food-desc {
		margin-top: 100px;
	}
	
	.subscribe {
		height: 500px;
	}
	
	form {
		width: 60%;
		left: 20%;
		top: 25%
	}
	
	.sub-images {
		width: 100%;
		top: 47.1%;
		left: 0%;
		height: 25%
	}
	
	.loc-title, .hours-title {
		font-size: 22px;
	}
	
	.loc1, .loc2, .hours1, .hours2 {
		font-size: 12px;
	}
	
	.locations {
		width: 55%;
	}
	
	.hours {
		width: 45%;
	}
	
	.info, .footer-content {
		width: 90%;
		left: 5%;
	}
	
	.contact {
		height: 180px;
	}
	
	.footer {
		height: 50px;
	}
	
	.footer-text {
		top: 15px;
		font-size: 16px;
	}
	
}

